In [7]:
import pandas as pd

data = pd.read_excel("Employee Sample Data.xlsx")
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [9]:
# Check Bonus %: mark employees with 0 as "no bonus" and >0 as "bonus"
# Used .loc to filter rows and assign text values to the GetBonus column

data.loc[(data["Bonus %"] == 0), "GetBonus"] = "no bonus"
data.loc[(data["Bonus %"] > 0, "GetBonus")] = "bonus"
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date  GetBonus
0       0.15  United States    Seattle 2021-10-16     bonus
1       0.00          China  Chongqing        NaT  no bonus
2       0.20  United States    Chicago        NaT     bonus
3       0.07  United States    Chicago        NaT     bonus
4       0.00  United States    Phoenix        NaT  no bonus
..       ...            ...        ...        ...       ...
995     0.00  United States   Columbus        NaT  no bonus
996     0.00          China    Chengdu 2018-01-08  no bonus
997     0.15  United States      Miami        NaT     bonus
998     0.00          China    Chengdu        NaT  no bonus
999     0.31  United States      Miami        NaT     bonus

[1000 rows x 15 columns]

In [14]:
(data['GetBonus'] == 'bonus').sum() #475 People recieves bonus

np.int64(475)

In [16]:
(data['GetBonus'] == 'no bonus').sum()

np.int64(525)

In [18]:
data = pd.read_excel("Practice_1.xlsx")
print(data)

  First name  Last Name  Salary EEID
0       ross  tribbiani   20000   E1
1     rachel       bing   40000   E2
2     monica      green   25000   E7
3       joey     geller   60000   E8
4   chandler     buffay   33000   E4
5     phoebe       bing   45000   E5

In [24]:
data["Full Name"] = data["First name"].str.title() + " " + data["Last Name"].str.title()
print(data)

  First name  Last Name  Salary EEID        Full Name
0       ross  tribbiani   20000   E1   Ross Tribbiani
1     rachel       bing   40000   E2      Rachel Bing
2     monica      green   25000   E7     Monica Green
3       joey     geller   60000   E8      Joey Geller
4   chandler     buffay   33000   E4  Chandler Buffay
5     phoebe       bing   45000   E5      Phoebe Bing