In [3]:
import pandas as pd

data1 = {"Emp ID":["E01","E02","E03","E04","E05","E06"],
        "Names":["Ram","Shyam","Rahul","Vishal","Ravi","Rajan"],
        "Age":[34,56,23,44,32,34]}

data2 = {"Emp ID":["E01","E02","E03","E04","E05","E06"],
        "Salary":[45000,56000,34000,30000,50000,42000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print()
print(df2)

  Emp ID   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06   Rajan   34

  Emp ID  Salary
0    E01   45000
1    E02   56000
2    E03   34000
3    E04   30000
4    E05   50000
5    E06   42000

In [9]:
print(pd.merge(df1,df2,on = "Emp ID"))
# Merge df1 and df2 using Emp ID as the common key (inner join)
# Combines rows where Emp ID exists in both DataFrames

  Emp ID   Names  Age  Salary
0    E01     Ram   34   45000
1    E02   Shyam   56   56000
2    E03   Rahul   23   34000
3    E04  Vishal   44   30000
4    E05    Ravi   32   50000
5    E06   Rajan   34   42000

In [10]:
import pandas as pd

data1 = {"Emp ID":["E01","E02","E03","E04","E05","E06"],
        "Names":["Ram","Shyam","Rahul","Vishal","Ravi","Rajan"],
        "Age":[34,56,23,44,32,34]}

data2 = {"Emp ID":["E01","E07","E03","E04","E08","E06"],
        "Salary":[45000,56000,34000,30000,50000,42000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print()
print(df2)

  Emp ID   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06   Rajan   34

  Emp ID  Salary
0    E01   45000
1    E07   56000
2    E03   34000
3    E04   30000
4    E08   50000
5    E06   42000

In [12]:
print(pd.merge(df1,df2,on = "Emp ID")) # Now data change as we change some data

  Emp ID   Names  Age  Salary
0    E01     Ram   34   45000
1    E03   Rahul   23   34000
2    E04  Vishal   44   30000
3    E06   Rajan   34   42000

In [16]:
print(pd.merge(df1,df2,on = "Emp ID", how = "left"))
# Same as print(pd.merge(left = df1,eight = df2,on = "Emp ID", how = "left"))
# Left join: keep all rows from df1 and match rows from df2 using Emp ID
# Missing matches from df2 become NaN
# Useful when df1 is the primary dataset and df2 adds extra info

  Emp ID   Names  Age   Salary
0    E01     Ram   34  45000.0
1    E02   Shyam   56      NaN
2    E03   Rahul   23  34000.0
3    E04  Vishal   44  30000.0
4    E05    Ravi   32      NaN
5    E06   Rajan   34  42000.0

In [17]:
print(pd.merge(df1,df2,on = "Emp ID", how = "right"))

  Emp ID   Names   Age  Salary
0    E01     Ram  34.0   45000
1    E07     NaN   NaN   56000
2    E03   Rahul  23.0   34000
3    E04  Vishal  44.0   30000
4    E08     NaN   NaN   50000
5    E06   Rajan  34.0   42000

In [20]:
data1 = {"Emp ID":["E01","E02","E03","E04","E05","E06"],
        "Names":["Ram","Shyam","Rahul","Vishal","Ravi","Rajan"],
        "Age":[34,56,23,44,32,34]}

data2 = {"Emp ID":["E07","E08","E09","E10","E11","E12"],
        "Names":["bittu","chintu","chotu","Raghav","golu","bunty"],
        "Age":[34,56,23,44,32,34]}

df1 = pd.DataFrame(data