In [8]:
import pandas as pd

dict = {"keys":["k1","k2","k1","k2"],
       "Name":["John","Ben","David","Peter"],
       "Houses":["red","blue","green","red"],
       "Grades":["3rd","8th","9th","8th"]}

df = pd.DataFrame(dict)
print(df)

  keys   Name Houses Grades
0   k1   John    red    3rd
1   k2    Ben   blue    8th
2   k1  David  green    9th
3   k2  Peter    red    8th

In [9]:
df.pivot(index="keys", columns="Name", values="Houses")
# Reshape data by using keys as rows, Names as columns, and Houses as values

Name   Ben  David John Peter
keys
k1     NaN  green  red   NaN
k2    blue    NaN  NaN   red

In [10]:
df.pivot(index="keys", columns="Name", values=["Houses","Grades"])

     Houses                   Grades
Name    Ben  David John Peter    Ben David John Peter
keys
k1      NaN  green  red   NaN    NaN   9th  3rd   NaN
k2     blue    NaN  NaN   red    8th   NaN  NaN   8th

In [15]:
dict = {"Name":["John","Ben","David","Peter"],
       "Houses":["red","blue","green","red"],
       "Grades":["3rd","8th","9th","8th"]}

df = pd.DataFrame(dict)
print(df)

print(pd.melt(df, id_vars=["Name"], value_vars = ["Houses"])) # Convert wide data to long format keeping Name as id and unpivoting Houses column

    Name Houses Grades
0   John    red    3rd
1    Ben   blue    8th
2  David  green    9th
3  Peter    red    8th
    Name variable  value
0   John   Houses    red
1    Ben   Houses   blue
2  David   Houses  green
3  Peter   Houses    red

In [16]:
print(pd.melt(df, id_vars=["Name"], value_vars = ["Houses","Grades"]))

    Name variable  value
0   John   Houses    red
1    Ben   Houses   blue
2  David   Houses  green
3  Peter   Houses    red
4   John   Grades    3rd
5    Ben   Grades    8th
6  David   Grades    9th
7  Peter   Grades    8th

In [17]:
print(pd.melt(df, id_vars=["Name"], value_vars = ["Houses","Grades"], var_name = "Houses&Grades", value_name = "values"))

    Name Houses&Grades values
0   John        Houses    red
1    Ben        Houses   blue
2  David        Houses  green
3  Peter        Houses    red
4   John        Grades    3rd
5    Ben        Grades    8th
6  David        Grades    9th
7  Peter        Grades    8th